@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.App-header {
  max-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.logo {
  max-height: 14vh;
  padding-top: 2vh;
}

.header-text {
  font-size: 3vh;
  font-weight: 900;
}

.App-body {
  margin: 4vh auto;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 50%;
  margin: auto;
}

img {
  max-width: 100%;
  overflow: hidden;
}
