@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.App-header {
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;
  margin: 2vh auto 1vh auto;
}

.logo {
  max-height: calc(112px + 1vmin);
}

.header-text {
  font-weight: 900;
}

.App-body {
  margin: 1vh auto 3vh auto;
}

.container {
  margin: 1vh auto;
  max-width: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 50%;
  margin: auto;
}

/* washer images */
.item > div > img {
  max-width: 100%;
  overflow: hidden;
}
