.App {
  text-align: center;
}

.App-header {
  max-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.logo {
  max-height: 14vh;
}

.header-text {
  font-size: 3vh;
  font-weight: 500;
}
